*, *:before, *:after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    background:#fff;
    font-family: sans-serif;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    display: flex;
    height: 100vh;
}

.contenedor{
    width: 100%;
}

header{
    background-color: rgb(255, 184, 4);
    height: 100px;
    color: black;
}

header .menu{
    text-align: right;
    margin-left: 20%;
}

header .menu ul li{
    float: left;
    list-style: none;
}
header .menu ul li a{
    margin: 35px 30px;
    color: #000;
    display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    font-weight: 700;
    
}

header .menu ul li a:hover{
    color: rgb(226, 13, 13) ;
    border-bottom: 2px solid rgb(226, 13, 13);
}
.logo{
    padding: 0 5px;
    float: left;
    width: 118px;
}
.banner{
    height: 300px;
    width: 100%;
}
.title{
    font-weight: 900; 
    text-align: center;
    margin-top: -5%;
    margin-bottom: 7%;
    font-family: 'Itim', cursive;
    font-size: 50px;
}
.tema{
    font-weight: 900; 
    text-align: center;
    margin-top: -15%;
    margin-bottom: 7%;
    font-family: 'Itim', cursive;
    font-size: 50px; 
}
header .contenedor-text{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: -15%;
}

header .contenedor-text .text{
    border: 13px solid rgb(255, 255, 255);
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    padding: 30px 70px;
}

header .contenedor-text .text h1{
    font-weight: 400;
    margin: 0;
    color: #fff;
}

header .contenedor-text .promo{
    font-size: 70px;
    font-family: 'Itim', cursive;
    line-height: 50px;
}

.fondo img{
    margin-top: 4%;
    width: 100%;
}
.promociones{
    margin-left: 5.5%;
    margin-top: 30%;
    margin-bottom: 10px;
    display: inline-block;
    
}
.promociones .conten{
    margin-bottom: 6%;
    width: 550px; 
    height: 320px;
}
.promociones .promo-img img{
    width: 550px;
    box-shadow: 2px 0 10px #000;
}

.promociones .p-move{
    margin-bottom: 10%;
    width: 550px; 
    height: 320px;
    margin-left: 630px;
    margin-top: -33%
}
.promociones .promo-text{
    text-align: center;
    padding: 20px;
}

/*********************************** MENU ********************************/
.carta1{
    width: 90%;
    height: 700px;
    box-shadow: 2px 0 10px rgb(255, 149, 0);
    margin: 0px 5%;
    margin-top: -25%;
    display: inline-block;
    margin-bottom: 3%;
}

.carta4{
    width: 90%;
    height: 400px;
    box-shadow: 2px 0 10px rgb(255, 149, 0);
    margin: 0px 5%;
    display: inline-block;
    margin-bottom: 3%;
}

.carta4 .c1{
    margin-bottom: 2.5%;
}

.carta2{
    width: 90%;
    height: 700px;
    box-shadow: 2px 0 10px rgb(255, 149, 0);
    margin: 0px 5%;
    margin-top: 0;
    display: inline-block;
    margin-bottom: 3%;
}

.carta3{
    width: 90%;
    height: 950px;
    box-shadow: 2px 0 10px rgb(255, 149, 0);
    margin: 0px 5%;
    margin-top: 0;
    display: inline-block;
    margin-bottom: 3%;
}
.carta3 .c1{
    margin-bottom: -6%;
}

.c1{
    height: 14%;
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-align: center;
    font-weight:bold;
    margin-top: 40px;
}
.prod img{
    width: 180px;
    height: 130px;
    display: inline-block;
    margin-bottom: 13px;
    margin-left: 70px;
}

.prod{
    display: inline-block;
    margin-left: 30px;
}
/*********************************** PEDIDOS ********************************/
.carrito{
    width: 90%;
    background-color: dimgray;
}
.carrito .Tit{
    margin-top: -25%;
    text-align: center;
    font-family:'Itim', cursive;
    font-size: 40px;
}
.img-prod{
    width: 80px;
}
table{
    margin-top: 5%;
    margin:5%;
    width: 90%;
    text-align: center;
}

td{
    padding: 45px;
}
.cupon{
    width: 100%;
    font-size: 27px;
    text-align: center;
    
}
.input_cupon{
    margin-top: 50px;
    width: 350px;
    font-size: 18px;
    height: 30px;
    margin-left: 2%;
}
.ticket{
    margin-top: 50px;
    margin-left: 25%;
    width: 50%;
    box-shadow: 2px 0px 10px rgb(255, 133, 4);
    padding:40px;
    margin-bottom: 5%;
}
.ticket .t{
    font-size: 35px;
    text-align: center;
}
.subtotal{
    display: inline-block;
}
.delivery{
    display: inline-block;
    font-size: 20px;
    width: 200px;
    padding: 20px;
    margin: 0 45px;
    margin-bottom: 9px;
}
.envio{
    font-size: 20px;
    width: 500px;
    padding: 20px;
    margin: 0 45px 8px;
}

/*********************************** MIO MENU ********************************/

.mapa{
    margin-left: 25%;
    margin-top: -25%;
}


/****************************FORMULARIO CONTACTO*************************************/
/*--DOCUMENTO-GENERAL--------------*/
*{
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

/*--COLOR-DE-FONDO-Y-LETRAS--------*/
body{
    color: rgb(0, 0, 0);
}

/*--FORMULARIO---------------------*/
.formulario{
    width: 450px;
    padding: 30px;
    margin-left: 30%;
    margin-top: -25%;
}

/*--TITULO-------------------------*/
.titulo{
    margin-bottom: 30px;
    color: rgb(255, 149, 0)
}

/*--INPUTS-------------------------*/
input{
    padding: 6px;
    border-radius: 2px;
    border:none;
    margin-top: 5px;
    outline: none;
    border: 3px solid rgb(255, 149, 0);
    transition: all .3s ease;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

input:focus{
    border: 3px solid #ff0000;
}

.input_correo{
    width: 100%;
}

/*--GRUPO-NOMBRE-APELLIDO---------*/
.grupo_nombre_apellido{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/*--GRUPO-CONTRASEÑA--------------*/
.grupo_password{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

/*--GRUPO-INICIAR-SESION-Y-BOTON--*/
.grupo_iniciarsesion_btn{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    height: 38px;
    line-height: 38px;
}

/*--INICIAR-SESION----------------*/
.iniciar_sesion{
    text-decoration: none;
    color: #3984db;
}

.iniciar_sesion:hover{
    color: #2f70bc;
}

/*--BOTON-------------------------*/
.btn_registrarse{
    padding: 10px;
    width: 130px;
    border: none;
    border-radius: 2px;
    background: #ff0000;
    color: #fff;
    font-size: 15px;
    outline: none;
    cursor: pointer;
}

.btn_registrarse:hover{
    background: rgb(255, 149, 0);
}

/*--PARRAFOS----------------------*/
.input_paragraph{
    font-size: 13px;
    color: #d8d8d8;
}

/***************SEGUNDO INTENTO Y SE QUEDA*******************/
img{
    width: 100%;
}
.adelante img{
    margin-top:20px;
}

.efecto_3d{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
}

.efecto__columna{
    width: 250px;
    height: 250px;
    position: relative;
    text-align: center;
    transform-style: preserve-3d;
    transition: .7s ease;
}

.contenedor3{
    margin: 10px;
    perspective: 800;
}

.adelante,.atras{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: linear-gradient(-100deg,#ffcbcb, #fade6b);
    border-radius: 5%;
    border: 1px solid #fff;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
    object-fit: cover;
    left: 10px;
}

.atras:after,.atras:before{
    position: absolute;
    content: '';
    opacity: .4;
}

.atras:after{
    border-radius: 50%;
    z-index: 25;
    background-color: yellow;
    width: 50px;
    height: 50px;
    top: 50px;
    right: 20px;
}

.atras:before{
    width: 50px;
    height: 70px;
    bottom: 25px;
    left: 19px;
    border-radius: 20px;
    background-color: rgb(238,42,98);
    transform: rotate(120deg);
}

.atras{
    background: #f1f1f1;
    transform: rotateY(180deg);
}

.contenedor3:hover .efecto__columna{
    transform: rotateY(180deg);
}

@media(min-width:620px){
    .contenedor3{
        width: 32%;
    }
}

@media(min-width:890px){
    .contenedor3{
        width: 22%;
    }
}

@media(min-width:890px){
    .efecto_3d{
        width: 1000px;
    }
}

